* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
        color: white;
        display: block;
        padding: 20px;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
}

h1 {
    color: steelblue;
    font-size: 40px;
    margin: 1rem;
    padding-bottom: 12px;
    border-bottom: 3px solid steelblue;
    
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    justify-content: space-around;
}

main p {
    
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: flex-start;
}



main img {
    float: right;
    margin-left: 10px;
    width: 150px;
    height: auto;
    border: 1px solid black;
    margin-right: 25px; 

}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 85px;
    color: yellow;
}

aside img{
    width: 260px;
    height: auto;
}


p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors



*/

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

ul li {
    margin-left: 15px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Grid */

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
}

aside {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}
